spring:
  application:
    name: sabo-system
  
  datasource:
    url: jdbc:postgresql://localhost:5435/sabosystem?characterEncoding=UTF-8
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.koreazinc.com
    port: 587
    username: newsletter@koreazinc.com
    password: ${SMTP_PASSWORD:secret}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
  
  sql:
    init:
      mode: always
      encoding: UTF-8
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

app:
  mock:
    enabled: true

security:
  jwt:
    secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
    expiration: 3600000 # 1 hour
    refresh-token-expiration: 604800000 # 7 days

file:
  upload-dir: uploads

social:
  youtube:
    key: dummy-youtube-key
    channel-id: UC_dummy_channel_id
  instagram:
    token: dummy-instagram-token
