@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  /* Brand Colors */
  --kz-blue-primary: #0066CC;
  --kz-blue-dark: #004A99;
  --kz-blue-light: #3385D6;
  --kz-blue-lightest: #E6F2FF;

  /* Grayscale */
  --kz-gray-darkest: #1A1A1A;
  --kz-gray-dark: #4A4A4A;
  --kz-gray-medium: #767676;
  --kz-gray-light: #D1D1D1;
  --kz-gray-lightest: #F5F5F5;
}

body {
  font-family: 'Pretendard', sans-serif;
  color: var(--kz-gray-darkest);
  -webkit-font-smoothing: antialiased;
}